%h1 Column families
.well.limited
  %ul.nav.nav-list
    %li.nav-header= "#{@cfContent.count} column families found"
    - @cfContent.each do |k,v|
      %li
        %a{:href => "/keyspaces/#{@keyspace}/columnfamilies/#{k}/keys"}= k