%h1 Keys
.well.limited
  %ul.nav.nav-list
    %li.nav-header= "keys found"
    - @client.each(@cf) do |k,v|
      %li
        %a{:href => "/keyspaces/#{@keyspace}/columnfamilies/#{@cf}/keys/#{k}"}= k
