%h1 Keyspaces
.well.limited
  %ul.nav.nav-list
    %li.nav-header= "#{@keyspaces.count} keyspaces found"

    - @keyspaces.each do |k|
      %li
        %a{:href => "/keyspaces/#{k}/columnfamilies"}= k
%p
  %a{:href => "/keyspaces/create"} Create a keyspace
