#wrapper-main{
  margin: 0px auto;
  width: 1024px;
}

header{
  border-bottom: 1px solid #ccc;
  clear: left;
  float: left;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
}

section h1{
  margin-bottom: 20px;
}

.well.limited{
  width: 250px;
}