#wrapper-main{
  margin: 0px auto;
  width: 1024px;
}

header{
  border-bottom: 1px solid #ccc;
  clear: left;
  float: left;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

header #nav{
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
}

header #nav li{
  float: left;
  list-style-type: none;
  margin-right: 10px;
}

header #nav li.page{
  font-weight: bold;
}

header #nav li a{
  padding-left: 10px;
  text-decoration: none;
}

#content{
  clear: left;
  float: left;
  padding: 25px;
  width: 100%;
}